<!DOCTYPE html>
<html lang="en" ng-app="angular-app">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="language" content="en-us">
<meta http-equiv="content-language" content="en">
<meta name="distribution" content="Global" />
<meta name="robots" content="index, follow" />
<meta name="revisit-after" content="1 days" />
<meta name="serp-rank" position="1" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="pragma" content="no-cache" />
<meta name="rating" content="General">
<script async src="/angular/angular.js"></script>
<script async src="/angular-route/angular-route.min.js"></script>
<script async src="/jquery/dist/jquery.min.js"></script>
<script async src="/javascripts/angular.js"></script>
<!--link rel="stylesheet" media="all" href="/stylesheets/algolia-1.css">
<link rel="stylesheet" media="all" href="/stylesheets/algolia-2.css" ng-if="settings.style !== &quot;experimental&quot;" class="ng-scope"-->
<title>Done by NIKHIL JAIN</title>
</head>
<link async rel='stylesheet' href='/stylesheets/index.css' />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body data-gr-c-s-loaded="true" style="cursive;background-color: white;font-size: 0.9rem;line-height: 3;">
