<% include partials/header %>
  <% if(msg !== null){  %>
    <h3><%= msg %></h3>
  <%  }  %>
  <div class="container">
  <!--form action="/action_page.php"-->
    <div class="row">
      <h2 style="text-align:center">Login Or Sign-Up</h2>
      <div class="vl">
        <span class="vl-innertext">or</span>
      </div>

      <div class="col">
         <div class="hide-md-lg">
          <p>Or sign in manually:</p>
        </div>
        <form action="/auth/signup" method="POST">
          <input type="text" name="username" placeholder="Username" required />
          <input type="email" name="email" placeholder="Email" required />
          <input type="password" name="pswd" placeholder="Password" required />
          <input type="password" name="cn_pswd" placeholder="Confirm-Password" required />
          <input type="submit" value="Sign-Up">
        </form>
      </div>

      <div class="col">
        <div class="hide-md-lg">
          <p>Or login in manually:</p>
        </div>
        <form action="/auth/login" method="POST">
          <input type="text" name="username" placeholder="Username or Email" required />
          <input type="password" name="password" placeholder="Password" required />
          <input type="submit" value="Login">
        </form>
      </div>

    </div>
</div>



<% include partials/footer %>
